.selected{
    text-align: center;
}
.Carts-box{
    padding:10px 20px;
}

.cart-box-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.cart-img {
    width: 80px;
    /* border-radius: 50%; */
}

.cart-name {
    font-size: 16px;
    margin-right: 10px;
}
.itemss{
    text-align: center;
    margin-top: 1%;
    position: sticky;
    top: 0;
}
.cart-btn {
    padding: 10px 20px;
    background: #183153;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    width: 95%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}
.cart-btn:hover{
    cursor:pointer
}
.cart-btn:active{
    background: #122949;
}

.itemss img {
    width: 100%;
}

@media screen and (max-width: 1192px) {
    .cart-name {
        font-size: 14px;
    }

}
@media screen and (max-width: 1070px) {
    .cart-box-info{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 654px) {
    .cart-name {
        font-size: 11px;
        margin-top: 6px;
    }

}
@media screen and (max-width: 542px) {
    .cart-name {
        font-size: 8px;
        margin-top: 6px;
    }

}